.board {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 290px;
  word-wrap: break-word;
  background-color: var(--board-color);
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  height: 100%;
  max-height: 82vh;
  color: var(--text-color);
  }

  .board_top {
    display: grid;
    grid-template-columns: 6fr 1fr 1fr;
    align-items: center;
    border: 2px solid rgba(128, 128, 128, 0.589);
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #89c2d9;
    padding: 0 10px;
  }

  .board_top_title{
    flex:1;
    display: flex;
    align-items: center;
    font-size: 1.15rem;
    font-weight: bold;
    justify-content: space-between;
    padding: 0 15px 0px 5px;
  }
  .board_top_title span{
    color:black;
  }

  .board_cards{
    background-color: aliceblue;
    display:flex;
    flex-direction:column;
    gap:20px;
    padding:10px;
    border-bottom:2px solid #468faf;
    border-radius: 10px;
  }